:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-black: rgba(30, 30, 30, 1);
  --text-gray: rgba(60, 60, 60, 1);
  --text-blue: rgba(0, 0, 200, 1);
  --nav-gray: #dddddd;

}

.text-black {
  color: var(--text-black);
}

.text-gray {
  color: var(--text-gray);
}

.text-blue {
  color: var(--text-blue);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.main-body-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 3vw 16px 3vw;
  gap: 0px 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  min-width: 340px;
  min-height: calc(100vh - 120px);

  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (max-width: 340px) {
    padding: 0px 10px 16px 10px;
  }
}

.panel-one {
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  width: 30%;
  min-width: 240px;
  background-color: white;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.name-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0px 16px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: white;
  
  /* text */
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -3%;
  line-height: 120.0%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);

}

.front-picture {
  margin: 0 auto 0 auto;
  display: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;

  @media (max-width: 768px) {
    width: 40%;
  }
}

.main-node {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 0px;
  background-color: rgba(255, 255, 255, 1);
  width: 70%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.navbar-container {
  position: fixed;
  width: 100%;
  align-self: stretch;
  height: calc(34px + 17px);
  z-index: 1000;
}

.navbar {
  flex-direction: row;
  justify-content: left;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.navbar-spacer {
  position: static;
  align-self: stretch;
  height: calc(32px + 17px);
  width: 100%;
}

.navbar ul {
  list-style-type: none; /* Remove bullet points */
  display: flex; /* Makes the list items horizontal */
  width: fit-content;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}

.navbar li {
  background-color: white;
}

.navbar a {
  display: flex;
  color: black;
  font-size: 18px;
  padding: 14px 14px;
  text-decoration:none;
}

.navbar a.active {
  background-color: var(--nav-gray);
  font-size: 18px;
}

.navbar a:hover {
  background-color: #88ccff;
  color: var(--text-blue);
}

.navbar a:active {
  color: purple;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px 16px;
}

.text-header {
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.card-project-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.card-project {
  gap: 16px;
  padding: 16px;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
}

.card-title {
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -2%;
  line-height: 120.0%;
  text-decoration: none;
  text-transform: none;
}

a.card-title {
  color: var(--text-blue);
}

.card-tag {
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.card-description {
  text-indent: 20px;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-gray);
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px 32px 32px 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: white;
  border-top: 1px solid darkgray
}

/* Contact Page */

.icon-default {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 25px;
  fill: rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.linkedin {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.github {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.email {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.text-contact-link {
  padding: 0px 0px 4px 0px;
  color: var(--text-blue);
}

/* Hobby Page */
